//settings
$font-main-family: "Roboto", sans-serif;
$font-secondary: "DM Sans", sans-serif;
$jost: "Jost", sans-serif;
$fontIcon: "flaticon";

:root {

	--White: #fff;
	--Text: #3D3E3F;
	--Primary: #E7C873;
	--Secondary: #1A1A1A;
	--Third: #EB664E;
	--Fourth: #1F4B43;
	--Border: #EBEBEB;
	--roboto: $font-main-family;
	--dm: $font-secondary;
	--jost: $jost;

}